
{% extends 'base.html' %}
{% block body %}


<div class="card">
  <div class="card-header" >
      <div class="text-center mt-3">
        Add Task
      </div>
  </div>
  <div class="card-body">
      <form method="POST" >
          {{form.hidden_tag()}}

          {{form.task_to_add.label(class="form-label")}}
          {{form.task_to_add(class="form-control")}}
          <div class="form-text">Add your task, Achiever!</div>

          {{form.complete(class="form-check-input")}}
          {{form.complete.label(class="form-check-label")}}
          <br>
          <br/>
          <div class="text-center mt-3">
            {{form.submit(class="btn btn-primary")}}
          </div>
      </form>
  </div>
</div>
{% endblock %}